* {
    margin: 0;
    padding: 0;
    font-family: 'popppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color:skyblue;
  
}

body,html {
    overflow:hidden;
}
.title{
    padding:10px;

}
.title h1{
    margin-left:100px;
}
.form {
    width: 500px;
    max-width:500px; 
    height:450px;
    left:100px;
    right: 100px;
    position:relative;
    padding: 10px;
}

.box {
    width: 600px; 
    height: 100%; 
    background-color: rgb(100, 94, 157); 
    border-radius: 100% 0 0 100%;
    position: absolute;
    margin-left: 800px;
    top: 0;
    overflow: hidden;
    border: 5px solid #FFC9B5;
}

    .box p {
        transform: translateY(-50%);
        top: 50%;
        margin-right:130px;        
        text-align: right;
        margin-top:150px;
    }
        .box p strong {          
            color: rgb(214, 73, 51);
            font-size: 30px;
            text-align: center;
            position:relative;
        }

        .box p b {
            font-size: 25px;
            margin-right: 100px;
            display: inline-block; /* Ensure block-level element behavior */
            top: 215px;
            position:absolute;
            right:50px;
        }


    .box::before {
        content: ''; 
        width: 50%; 
        height: 100%; 
        background-color: inherit; 
        border-radius: inherit; 
        position: absolute;
        top: 0;
        left: -50px; 
    }

.openbtn {
    right: 30px;
    margin-left: 1000px;
    position: absolute;
    bottom: 250px;
    width: 100px;
    height: 35px;
}

.input-workout textarea {
    background-color: white;
    color: black;
}

.input-diet textarea {
    background-color: white;
    color: black;
}
.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: skyblue;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

.input-group{
    display:flex;
}

.input-group input {
    width: 100px;
    margin-right: 10px;
}

.btn {
    display: flex;
    margin-left: 250px;
bottom:0px;
}
.btn button {
    width: 100px;
    height:25px;
    margin-right: 10px;
}
.calcbar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 3; 
    top: 0;
    right: 0;
    background-color: skyblue; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    border-color: skyblue;
    padding-left: 5px;
}

.others label {
    display: block; 
    margin-bottom: 5px; 
}

.radiogender input{
    margin-left:20px;
}
.calc button {
    width: 100px;
    height: 35px;
    right: 30px;
    margin-left: 1000px;
    position: absolute;
    bottom: 70px;
    z-index: 2;
}
.input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: lightblue;
    font-size: 15px;
}
.calculatortext {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top:320px;
    right: 15px;
    text-align: right;
}


.viewsidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: skyblue; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    border-color: skyblue;
}
